
nav
{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   height: 50px;
   border: solid black 1px;
   justify-content: center;
   align-items: center;
   
}
ul
{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#ffff;
    
    
}
li a{
    text-decoration: none;
    margin-right: 20px;
    
}
header 
{
    
    display: flex;
    background-image: url(../Img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
